<div class="app-bar">
    <div class="logo">
        <svg class="w-12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <text x="10" y="70" font-family="Arial" font-size="80" fill="white">K</text>
        </svg>
    </div>
    <nav class="nav-links text-center">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
    </nav>
    <div class="menu-icon" (click)="toggleMenu()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>