.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #243447;
  padding: 10px 20px;
  width: 100%;
  @apply text-textColor;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  //   color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #575757;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon div {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #243447;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

  .menu-icon.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .menu-icon.change .bar2 {
    opacity: 0;
  }

  .menu-icon.change .bar3 {
    transform: rotate(45deg) translate(-16px, -13px);
  }
}
